.heading{
    font-family: cursive;
    color:rgb(0, 178, 255);
    font-style: italic;
    font-size: 50px
}
body{
    background-color: bisque
}
#main-paragraph {
    color:rgb(211, 147, 26);
    position: absolute;
    top: 200px;
    margin-left: 325px;
    font-family: fantasy;
    font-size: 24px;
    background-color: rgb(255, 214, 152);
    margin-right: 15px;
}
#kfc-pic{
    width:300px;
    border: 5px double;
    margin-left: 5px;
}
#kfc-rules {
    font-size: 40px;
}